<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="Style.css">
</head>
<body>
    <img src="134526248_232276981639520_8325110923350546700_o.jpg "width= "300px" height= "300px">
    <h1 class="red">Diệp Thiên Ý</h1>
    <h1 >Ngày sinh:<p>30.03.2007</p></h1>
    <h1 id="a">Tuổi: <p>14</p></h1>
    <h1 >Sở thích: Xem phim, nghe nhạc </h1>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/7JJfJgyHYwU" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <iframe src="<iframe src="https://www.nhaccuatui.com/mh/auto/Iq8BFzO3gkMQ" width="620" height="382" frameborder="0" allowfullscreen allow="autoplay"></iframe>" width="620" height="382" frameborder="0" allowfullscreen allow="autoplay"></iframe>
</body>
</html>
